h1 {
	margin: 0 0 .5em;
}

#generate {
	width: 48em;
	max-width: 90%;
	margin: 5% auto;
}

#theme-switcher {
	float: right;
}

.code {
	margin: 1em 0;
	padding: 1em;
}

#codes .code > ul {
	float: none;
}

.code .name {
	font-weight: bold;
}
