#generate {
	width: 36em;
	max-width: 90%;
	margin: 5% auto;
}

h1 {
	margin: 0 0 .5em;
}

#codes {
	border: 1px dashed #6E3399;
	margin-top: 1em;
	padding: 1em 1em 0;
}

#codes .code {
	border-bottom: 1px solid #62A8CB;
	margin-bottom: 1em;
}

#codes .code-lines {
	font-family: monospace;
	white-space: pre;
}


.code .name {
	font-weight: bold;
}
